body {
    font-family: "Inter", sans-serif;
}

.perfil-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin: 40px 0px; /* Adjusted for footer */
  }
  
  .perfil-foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4E3D2E; /* Border color */
  }

  .perfil-avatar-inicial {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #382110;
  color: white;
  font-size: 80px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin-bottom: 20px;
  font-family: 'Archivo', sans-serif;
}
  
  .perfil-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .perfil-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .username {
    font-size: 24px;
    font-weight: bold;
    color: #382110;
    margin: 0;
  }


.estadisticas {
  display: flex;
  gap: 35px;
  margin: 16px 0;
  font-size: 15px;
  justify-content: space-between;
}

.estadisticas p {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8C7E74;
  font-weight: 400;
}

.estadisticas p strong {
  color: #382110;
  font-weight: 700;
  font-size: 18px;
}

  
  
  .descripcion {
    max-width: 500px;
  }
  
  .nombre-real {
    font-weight: bold;
    margin-bottom: 8px;
    color: #4E3D2E;
  }
  
  .bio {
    margin: 0;
    color: #4E3D2E;
    line-height: 1.4;
    font-weight: 200;
  }
  

.perfil-actions {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.editar-btn, .cerrar-sesion-btn {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  transition: background-color 0.3s;
}

.editar-btn {
  background-color: #4E3D2E;
  color: white;
}

.cerrar-sesion-btn {
  background-color: #4E3D2E;
  color: white;
}

.cerrar-sesion-btn:hover {
  background-color: #2b1909;
}

.editar-btn:hover {
  background-color: #2b1909;
}
