.reader-level-container {
  position: absolute;
  inset: 0;
  background-color: #f6f3ee;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: 'Archivo', sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 85px;
}

.reader-title {
  font-size: 20px;
  color: #382110;
  text-align: center;
  margin-bottom: 24px;
  font-weight: bold;
  justify-content: center;
  padding-top: 65px;
}

.level-options {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  gap: 1rem;
  margin: 2rem 0;
  margin-top: 1rem;
}

.level-btn {
  padding: 1rem 2rem;
  border: 0.45px solid #35221365;
  background-color: #FBF9F5;
  cursor: pointer;
  border-radius: 4.5px;
  transition: all 0.3s;
  width: 400px;
  text-align: center;
}

.level-btn:hover {
  border-color: #3C3939;
}

.level-btn.selected {
  background-color: #3C3939;
  color: white;
  border-color: #3C3939;
}

.botones-navegacion1 {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.boton-anterior1,
.boton-siguiente1 {
  padding: 12px 32px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.boton-anterior1 {
  background-color: #cfc8c0;
  color: black;
}

.boton-siguiente1 {
  background-color: #ff5a1f;
  color: white;
  font-weight: bold;
}

.boton-siguiente1:disabled {
  background-color: #ffd4bc;
  cursor: not-allowed;
}

